# Node modules
node_modules/

# Build output
dist/

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# TypeScript
*.tsbuildinfo

# Environment variables
.env

# VSCode
.vscode/

