@using Rtm.BlazorClient.Models
@using Rtm.BlazorClient.Services

@page "/weather"
@inject CachedWeatherDataService CachedWeatherDataService

<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

@if (_forecasts == null || _forecasts.Count == 0)
{
    <p><em>Waiting for weather data...</em></p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Date</th>
            <th aria-label="Temperature in Celsius">Temp. (C)</th>
            <th aria-label="Temperature in Farenheit">Temp. (F)</th>
            <th>Summary</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var forecast in _forecasts)
        {
            <tr>
                <td>@forecast.Date.ToShortDateString()</td>
                <td>@forecast.TemperatureC</td>
                <td>@forecast.TemperatureF</td>
                <td>@forecast.Summary</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private List<WeatherForecast>? _forecasts;

    protected override void OnInitialized()
    {
        _forecasts = CachedWeatherDataService.GetWeatherForecast()
            .OrderBy(f => f.Date)
            .ToList();
    }

}
